/* ============ メインアプリのcss =========== */

.main {
  width: 100vw;
}

.header-container {
  margin: 1rem;
}

.add-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-field__input {
  padding: 0.7rem;
  margin-left: 2rem;
}

.header-container__nav-btn {
  display: block;
  width: 20%;
  padding: 0.3rem;
  margin-right: 2rem;
  background: rgba(48, 131, 120, 0.922);
  box-shadow: 2px 2px 1px 1px #35a48a;
  font-size: 0.7rem;
}

.header-container__nav-btn:hover {
  background: rgba(255, 255, 255, 0.434);
}

.description,
.list__item {
  display: flex;
  align-items: center;
  gap: 15%;
}

.description {
  justify-content: flex-end;
  gap: 17%;
  padding: 1%;
  background: #b9f1e85a;
}

.description__product-name {
  margin-right: auto;
}

.description__product-price {
  margin-right: 1rem;
}

.list {
  height: 19.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-wrap {
  position: relative;
}

.list__item {
  position: relative;
  justify-content: flex-end;
  padding: 0.5rem;
  border-bottom: 3px solid #d6d6d63f;
  border-radius: 3px;
  z-index: 2;
}

.list__product-name {
  margin-right: auto;
}

.list__input {
  width: 4rem;
  padding: 0.2rem;
  background: #ffffff;
}

.add-btn__icon {
  color: #fff;
  font-size: 1.5rem;
  transition-duration: 0.1s;
}

.add-btn__icon:hover {
  transform: scale(1.2);
}

.add-btn__icon:active {
  transform: scale(0.5);
}

.hide {
  display: none;
}

.swipe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3rem;
  width: 50%;
  background: #44d28f;
  border-radius: 3px;
  z-index: 1;
}

.swipe__delete-btn {
  padding: 0.3rem;
  margin-right: 1rem;
}

.swipe__icon {
  color: #265a62;
  font-size: 1.2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 25%;
  background: #b9f1e85a;
  transform: translateX(-50%);
  z-index: 2;
}

.footer-wrap__text {
  display: flex;
  justify-content: center;
  gap: 20%;
  width: 50%;
  margin: 2rem auto;
  border-bottom: 5px solid #c6c6c661;
}

.footer__save-btn {
  display: block;
  text-align: center;
  width: 30%;
  padding: 0.3rem;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  background: #27eec0;
  box-shadow: 1px 2px 3px #43b399;
}

.footer__save-btn:hover {
  background-color: rgba(38, 203, 153, 0.834);
}

/* ====== スマホ用レスポンシブデザイン ====== */

@media (max-width: 375px) {
  .main {
    width: 100%;
  }

  .header {
    padding: 0.6rem;
  }

  .header-container {
    margin: 0.5rem;
  }

  .header-container__nav-btn {
    width: 25%;
    padding: 0.1rem;
    margin-right: 15rem;
    margin-bottom: 0.3rem;
    letter-spacing: 0.3rem;
  }

  .description,
  .list__item {
    font-size: 0.8rem;
  }

  .list {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .description {
    justify-content: flex-end;
    gap: 18.5%;
  }

  .description__product-name {
    margin-right: auto;
  }

  .add-field__input {
    font-size: 0.7rem;
    padding: 0.3rem;
    width: 100%;
  }

  .list__item {
    padding: 0.3rem;
    display: flex;
    gap: 5%;
  }

  .add-btn {
    margin-right: 1rem;
  }

  .swipe {
    padding: 0;
  }

  .footer {
    height: 20%;
  }

  .footer-wrap__text {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }

  .footer__save-btn {
    width: 80%;
    padding: 0.1rem;
    font-size: 1rem;
  }
}
