background: rgba(24, 191, 149, 0.934);

/* 過去のデータ */
.history-date-wrapper {
  width: 20%;
  border-radius: 5px;
  text-align: center;
}

.header {
  text-align: center;
  padding: 2rem;
}

.header__title {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  width: 10%;
  padding: 0.2rem;
  background: rgba(48, 131, 120, 0.922);
  box-shadow: 2px 2px 1px 1px #35a48a;
  letter-spacing: 0.3rem;
}

.nav__btn:hover {
  background: rgba(255, 255, 255, 0.434);
}

.accordion {
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: 5px 3px 9px #929292;
}

.accordion_nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: #929292;
}

.accordion_icon {
  font-size: 1.2rem;
}

.list {
  height: 29rem;
  margin-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.list__item {
  display: flex;
  justify-content: center;
  gap: 30%;
  padding: 0.3rem;
  border-bottom: 3px solid #ecf3f3;
  background: #ffffff47;
}

.calc {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  width: 25rem;
  border: 2px solid #fff;
  background: #f1f6f6;
  text-align: center;
}

.calc__text {
  padding: 0.5rem;
  background: #1bd9ad;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.calc__price-text {
  padding: 3rem;
  font-size: 1.2rem;
  background: #fff;
  color: #929292;
}

@media (max-width: 375px) {
  .header {
    padding: 0.8rem;
  }

  .header__title {
    font-size: 1.3rem;
  }

  .nav {
    margin-bottom: 0.3rem;
  }

  .nav__btn {
    width: 25%;
    padding: 0.1rem;
    font-size: 0.7rem;
  }

  .accordion {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .list {
    height: 31.4rem;
  }

  .list__item {
    justify-content: space-between;
  }

  .calc {
    width: 90%;
    bottom: 0.5rem;
  }

  .calc__price-text {
    padding: 2.3rem;
  }
}
